<html>

<head>
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link href="css/styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 

</head>



<body>

<div class="header">
<h1><strong>Veronica Adams</strong></h1>
</div>

<div class="links">

<ul>

<li><a href="index.html"> Home</a></li>
<li><a href="#">About</a></li>
<li><a href="images.html">Gallery</a></li>
<li><a href="#">Contact</a></li>


</ul>


</div>

<div class="main-image-container">
<div class="col-lg-9">
<img src="assets/jah/v014.jpg">
<img src="assets/jah/veronica0009.jpg">
<img src="assets/jah/v010.jpg">
<img src="assets/jah/v011.jpg">
<img src="assets/jah/v012.jpg">

</div>
</div>

</body>
</html>
