
<head>
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<link href="css/styles.css" rel="stylesheet">

<h1>Veronica Adams</h1>

<div class="col-lg-12">
<img src="assets/approved/Veronica-1.jpg">
<img src="assets/approved/Veronica-2.jpg">
<img src="assets/approved/Veronica-3.jpg">
<img src="assets/approved/Veronica-4.jpg">
<img src="assets/approved/Veronica-5.jpg">
<img src="assets/approved/Veronica-6.jpg">
<img src="assets/approved/Veronica-7.jpg">
<img src="assets/approved/Veronica-11.jpg">
<img src="assets/approved/Veronica-16.jpg">
<img src="assets/approved/Veronica-19.jpg">
<img src="assets/approved/Veronica-34.jpg">
<img src="assets/approved/Veronica-38.jpg">
<img src="assets/approved/Veronica-50.jpg">
<img src="assets/approved/Veronica-53.jpg">